.main-box {
	border: 2px solid red;
	background-color: rgb(95, 233, 95);
	padding: 20px 0px;
}

.sub-box {
	padding: 20px 0px;
	background-color: rgb(240, 122, 227);
}

h1 {
	margin-left: 40px;
}

p {
	margin-left: 80px;
}
